.bg {
    --background: #f1d6ad;
    text-align: center;
    .img_tool_arrow {
      height: 32px;
      padding-left: 8px;
    }
    .img_head {
      width: 75%;
    }
  }

  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;

    .lbl_title {
      display: block;
      font-size: 22px;
      text-decoration: underline;
      padding: 0px 0px 16px 0px;
    }

    .lbl_ {
      display: block;
      font-size: 18px;
      padding: 8px 0px;
      // text-decoration: underline;
    }
  }