<ion-header class="appBar1">
  <ion-toolbar class="bg">
    <img src="../../../../assets/images/directional.png" slot ="start" class="img_tool_arrow" (click)="back()"/>
    <img src="../../../../assets/images/logoWithoutIcon.png" class="img_logo"/>
    <img src="../../../../assets/images/gear.png" slot="end" class="img_tool_setting" (click)="settings()"/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="lbl_txt">
    {{'single.stud_id_correct' | translate}}
  </ion-label>

  <div class="div_chk">
    <img src="../../../../assets/images/shapes.png" class="img_check" />
  </div>

</ion-content>