.bg{
  --background: #fdf8f1;
  .img_tool{
      height: 32px;
  }
}
// .header-ios ion-toolbar:last-of-type {
//   --border-width: 0 0 0.55px !important;
//   --border-color: var(--ion-color-primary);
// }
ion-content{
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}
  .lbl_txt {
    text-align: center;
    display: block;
    font-size: 18px;
    line-height: 1.3;
    width: 75%;
    margin: 0 auto;
    padding: 16px 0px 32px 0px;
  }
  .div_chk{
      text-align: center;
      padding: 16px 0px;
    .img_check {
        height: 125px;
        width: 125px;
      }
  }
  .btn_footer {
    margin: 0px;
    color: white;
    text-transform: none;
  }