.bg{
    --background: #fdf8f1;
    .img_tool{
        height: 32px;
    }
}
// .header-ios ion-toolbar:last-of-type {
//     --border-width: 0 0 0.55px !important;
//     --border-color: var(--ion-color-primary);
//   }
ion-content{
    .row_list{
        .col_list{
            .img_main{
                height: 48px;
            }
            .lbl_quiz_title{
                display: block;
            }
            .lbl_unit{
                display: block;
            }
            .img_premium{
                height: 34px;
                width: 34px;
            }
            .img_arrow{
                height: 28px;
                width: 28px;
            }
        }
    }
}