<ion-header class="appBar1">
  <ion-toolbar class="bg">
    <img src="../../../../assets/images/directional.png" slot="start" class="img_tool_arrow" (click)="back()" />
    <img src="../../../../assets/images/logoWithoutIcon.png" class="img_logo" />
    <img src="../../../../assets/images/gear.png" slot="end" class="img_tool_setting" (click)="settings()" />
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="isEmpty1" *ngIf="qlist?.length == 0 || qlist == null">
    <ion-label class="lbl-empty">{{'reusable.empty' | translate}}</ion-label>
  </div>

  <div *ngFor="let opt of qlist ">

    <ion-label class="lbl_title lbl_all spc">{{quize_title}}</ion-label>

    <ion-label class="lbl_img_title">{{opt.question}}</ion-label>

    <div class="div_img" *ngIf="!opt.que_image == '' ">
      <img src="{{imageUrl}}{{opt.que_image}}" class="img_main img_quiz" />
    </div>

    <form [formGroup]="quiz_play" autocomplete="off" class="form_all align">
      <div class="div_all" *ngFor="let ans of opt.answer; let i = index">
        <div class="div_lbl" *ngIf='ans.type == "text"'(click)="checkbox(1,ans.correct_answer,ans.quiz_question_id,ans.id,opt.question,opt.que_image,opt.count)">
          <ion-checkbox class="chk_lbl" mode="md" ></ion-checkbox>
          <ion-label class="lbl">{{ans.answer_text}}</ion-label>
        </div>
      </div>

      <div class="div_all_img" *ngFor="let ans of opt.answer; let i = index">
      <div class="div_imgs" *ngIf='ans.type == "image"' (click)="checkbox(1,ans.correct_answer,ans.quiz_question_id,ans.id,opt.question,opt.que_image,opt.count)">
        <ion-checkbox class="chk_img" mode="md" ></ion-checkbox>
        <img src="{{imageUrl}}{{ans.answer_image}}" class="img_alls" />
      </div>
      </div>
    </form>
  </div>

  <ion-label class="lbl_indicator" *ngIf="qlist?.length > 0">{{len_val ? len_val : 0}}/{{len ? len : 0}}</ion-label>
</ion-content>