.row_list{
    .col_list{
        .img_main{
            height: 48px;
        }
        .lbl_quiz_title{
            display: block;
        }
        .lbl_unit{
            display: block;
        }
        .img_premium{
            height: 34px;
            width: 34px;
        }
        .img_arrow{
            height: 28px;
            width: 28px;
        }
    }
}