ion-content{
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;

    .div_logo{
        text-align: center;
        margin: 32px;
        .img_logo{
            width: 200px;
        }
    }

    .lbl_{
        font-size: 18px;
        display: block;
        text-align: center;
        line-height: 1.3;
        font-family: Comfortaa-SemiBold;
        padding: 16px;
    }
    .no_spc{
        padding: 0px !important;
    }
    .div_teacher{
        text-align: center;
    
        .img_teacher{
            height: 115px;
        }
    }
}
.btn_footer{
    margin: 0px;
    color: white;
    text-transform: none;
}