ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    .div_profile {
      margin-top: 16px;
      text-align: center;
      .img_profile {
        height: 100px;
      }
    }
    .div_empty1 {
      height: 60px;
    }
    .img_footer {
      height: 150px !important;
      width: 150px !important;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .row_chk {
      // float: left;
      margin: 28px 0px 8px 22px;
    
      .chk_terms {
        margin-right: 8px;
        --checkmark-color: var(--ion-color-light);
        // height: 22px;
        // width: 22px;
      }
      .lbl_terms {
        font-size: 16px;
        text-decoration: underline;
        // color: var(--ion-color-medium);
      }
    }
    .reg_form{
      margin-bottom: 75px;
    }
  }
  ion-footer{
    position: fixed;
    bottom: 0;
    .btn_footer {
      margin: 0px;
      color: white;
      text-transform: none;
    }
  }
  